/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    margin: 0;
    background-color: rgb(51, 51, 51);
}

main {
    display: flex;

}

main>div {
    flex: 1;
}

.playing--mat {
    background-image: url("/images/maps/grassmat.png");
    background-repeat: no-repeat;
    background-size: cover;

    flex: 0 0 711px;

    height: 969px;
}

.terrain--collection {
    position: relative;
    height: 969px;
    width: 711px;
}

.container {
    z-index: 1;
    cursor: pointer;
    display: inline-block;
    user-select: none;
    touch-action: none;
}

.container>img {
    width: 38.76px;
    height: 93.67px;
}

#horizontal-1 {
    position: absolute;
    left: 124px;
    bottom: 115px;
}

#horizontal-1>img {
    transform: rotate(90deg);
}

#horizontal-2 {
    position: absolute;
    right: 124px;
    top: 115px;
}

#horizontal-2>img {
    transform: rotate(90deg);
}

#container-1 {
    position: absolute;
    left: 60px;
    bottom: 153.42px;
}

#container-2 {
    position: absolute;
    left: 188px;
    bottom: 84px;
}

#container-3 {
    position: absolute;
    right: 60px;
    top: 153.42px;
}

#container-4 {
    position: absolute;
    right: 189px;
    top: 84px;
}

.small--building {
    cursor: pointer;
    display: inline-block;
    user-select: none;
    touch-action: none;
    position: absolute;
    z-index: 1;
}

.small--building>img {
    width: 120px;
    height: 120px;
}

#small-1 {
    top: 350px;
    left: 35px;
}

#small-1>img {
    transform: rotate(360deg);
}

#small-2 {

    bottom: 350px;
    right: 35px;
}

#small-2>img {
    transform: rotate(180deg);
}

.medium--building {
    cursor: pointer;
    display: inline-block;
    user-select: none;
    touch-action: none;
    position: absolute;
    z-index: 1;
}

.medium--building>img {
    height: 170px;
    width: 170px;
}

#medium-1 {
    bottom: 290px;
    left: 170px;
}

#medium-1>img {
    transform: rotate(0.63turn);
}

#medium-2 {
    bottom: 78px;
    right: 105px;
}

#medium-2>img {
    transform: rotate(180deg);
}

#medium-3 {
    top: 290px;
    right: 170px;
}

#medium-3>img {
    transform: rotate(0.13turn);
}

#medium-4 {
    top: 78px;
    left: 105px;
}

.large--building {
    cursor: pointer;
    display: inline-block;
    user-select: none;
    position: absolute;
    z-index: 1;
}

.brief--terrain--info {
    display: inline;
    top: 0;
    padding: 5px;
    border-radius: 3px;
    position: absolute;
    width: max-content;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    justify-content: center;
    white-space: nowrap;
    z-index: 3;
}

.detailed--terrain--info {
    display: inline;
    position: fixed;
    top: 0;
    right: 0;
    padding: 5px;
    border-radius: 3px;
    background-color: #333;
    color: white;
    justify-content: left;
    width: 600px;
    white-space: pre-line;
    z-index: 1;
    
}

.objective--marker {
    display: inline-block;
    user-select: none;
    touch-action: none;
    position: absolute;
    width: 96.9px;
}

.objective--marker:hover {
    z-index: 3;
    cursor: pointer;
}

#objective--marker-1 {
    top: 390px;
    right: 60px;
}

#objective--marker-2 {
    bottom: 380px;
    left: 60px;
}

#objective--marker-3 {
    bottom: 435px;
    right: 310px;
}

#objective--marker-4 {
    bottom: 170px;
    right: 130px;
}

#objective--marker-5 {
    top: 170px;
    left: 130px;
}




.model--div {
    z-index: 5;
    cursor: pointer;
    display: inline-block;
    user-select: none;
    touch-action: none;
}

.model--div>img {
    width: 50.87px;
    height: 50.87px;
    clip-path: circle();
}